# DataFrames

DataFrames to biblioteka do pracy z danymi w postaci tabel z podobnymi możliwościami jak Pandas w Pythonie. Jest jedną z najważniejszych bibliotek Julii i łączy się z wielomi innymi bibliotekami o bardziej specyficznych zastosowaniach.

Podstawowym obiektem w tej bibliotece jest `DataFrame` - tabela danych, którą można sobie wyobrazić analogicznie jak tabele w arkuszach kalkulacyjnych. Kolumny danych mogą mieć nazwy i zawierać różne typy danych.

## Tworzenie (wczytywanie) tablicy danych

Jest wiele różnych konstruktorów tego obiektu (`methods(DataFrame)` podaje listę 26 metod), które pozwalają na bardzo elastyczne przekazywanie danych z innych struktur takich jak wektory, słowniki, krotki czy macierze.

In [4]:
using DataFrames
using Dates

x = rand(10)
y = rand(10)
df = DataFrame(x=x, y=y)

10×2 DataFrame
 Row │ x          y
     │ Float64    Float64
─────┼──────────────────────
   1 │ 0.699263   0.643601
   2 │ 0.74684    0.156363
   3 │ 0.776095   0.447702
   4 │ 0.930276   0.762071
   5 │ 0.920986   0.498181
   6 │ 0.0906745  0.398614
   7 │ 0.262483   0.652103
   8 │ 0.561283   0.0149752
   9 │ 0.29893    0.582038
  10 │ 0.670914   0.251406

In [5]:
df = DataFrame(name=["Adam", "Barbara", "Celina"], 
    birthday=[Date(2000, 05, 07), Date(1999, 01, 22), Date(2001, 11, 29)], height=[175.0, 171.0, 169.5])

3×3 DataFrame
 Row │ name     birthday    height
     │ String   Date        Float64
─────┼──────────────────────────────
   1 │ Adam     2000-05-07    175.0
   2 │ Barbara  1999-01-22    171.0
   3 │ Celina   2001-11-29    169.5

In [6]:
d = Dict("name" => ["Adam", "Barbara", "Celina"], 
         "birthday" => [Date(2000, 05, 07), Date(1999, 01, 22), Date(2001, 11, 29)],
         "height" => [175.0, 171.0, 169.5] )
df = DataFrame(d)

3×3 DataFrame
 Row │ birthday    height   name
     │ Date        Float64  String
─────┼──────────────────────────────
   1 │ 2000-05-07    175.0  Adam
   2 │ 1999-01-22    171.0  Barbara
   3 │ 2001-11-29    169.5  Celina

In [7]:
nt = (a=[1, 2, 3], b=[0.1, 0.2, 0.5], c=["x", "y", "z"])
df = DataFrame(nt)

3×3 DataFrame
 Row │ a      b        c
     │ Int64  Float64  String
─────┼────────────────────────
   1 │     1      0.1  x
   2 │     2      0.2  y
   3 │     3      0.5  z

In [8]:
x = rand(10, 3)
df = DataFrame(x, ["x", "y", "z"])

10×3 DataFrame
 Row │ x         y         z
     │ Float64   Float64   Float64
─────┼───────────────────────────────
   1 │ 0.437267  0.504004  0.137237
   2 │ 0.86814   0.288058  0.0810625
   3 │ 0.260619  0.826208  0.579483
   4 │ 0.904188  0.357705  0.427849
   5 │ 0.674272  0.708629  0.468712
   6 │ 0.953666  0.474854  0.374695
   7 │ 0.30696   0.669983  0.417708
   8 │ 0.326426  0.992422  0.774217
   9 │ 0.776325  0.892615  0.469179
  10 │ 0.153021  0.913202  0.140021

In [9]:
df = DataFrame(name=String[], value=Float64[])
push!(df, ["A", 1.0])
push!(df, ["B", 2.0])

2×2 DataFrame
 Row │ name    value
     │ String  Float64
─────┼─────────────────
   1 │ A           1.0
   2 │ B           2.0

Często dane wczytywane pochodzą z plików. W przypadku specyficznych formatów trzeba je odpowiednio wczytać do jednej z pokazanych wcześniej struktur, ale jeżeli format jest typowy, jak np. CSV to możemy wczytać taki plik automatycznie

In [13]:
using CSV

df = DataFrame(CSV.File("pasteura.csv", header=13, skipto=15, delim=" ", ignorerepeated=true))

64×7 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────────────────────
   1 │  2015      1      1     0.24     0.56   101.3          1.96
   2 │  2015      1      2     1.43     1.48   100.14         5.6
   3 │  2015      1      3     1.57     2.13    99.62         4.7
   4 │  2015      1      4     0.53     0.43    99.43         2.32
   5 │  2015      1      5    -1.42     0.23   100.39         2.07
   6 │  2015      1      6    -7.95     0.01   101.49         3.92
   7 │  2015      1      7    -9.57     0.61   101.67         3.67
   8 │  2015      1      8    -2.99     2.54   100.91         6.33
  ⋮  │   ⋮      ⋮      ⋮       ⋮        ⋮        ⋮          ⋮
  58 │  2015      2     27     3.62     0.1    100.21         1.89
  59 │  2015      2     28     2.81     0.16   100.32         2.53
  60 │  2015      3      1     2.67     0.51    99.75         4.88
  61 │  2015      3      2     3.0      2.81    98.72         4.3
  62 │  2015      3      3     1.21     0.69    99.78         4.94
  63 │  2015      3      4     0.7      3.99   100.23         7.95
  64 │  2015      3      5    -0.01     0.83   101.25         1.83
                                                    49 rows omitted

## Praca z danymi

Podzbiór danych

Wiersze: po indeksie

In [14]:
df[1:5, :]

5×7 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────────────────────
   1 │  2015      1      1     0.24     0.56   101.3          1.96
   2 │  2015      1      2     1.43     1.48   100.14         5.6
   3 │  2015      1      3     1.57     2.13    99.62         4.7
   4 │  2015      1      4     0.53     0.43    99.43         2.32
   5 │  2015      1      5    -1.42     0.23   100.39         2.07

In [15]:
df[[1, 30, 60], :]

3×7 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────────────────────
   1 │  2015      1      1     0.24     0.56   101.3          1.96
   2 │  2015      1     30    -1.67     2.35    96.75         4.89
   3 │  2015      3      1     2.67     0.51    99.75         4.88

Kolumny

In [17]:
df[:, [:T2M, :PS]]

64×2 DataFrame
 Row │ T2M      PS
     │ Float64  Float64
─────┼──────────────────
   1 │    0.24   101.3
   2 │    1.43   100.14
   3 │    1.57    99.62
   4 │    0.53    99.43
   5 │   -1.42   100.39
   6 │   -7.95   101.49
   7 │   -9.57   101.67
   8 │   -2.99   100.91
  ⋮  │    ⋮        ⋮
  58 │    3.62   100.21
  59 │    2.81   100.32
  60 │    2.67    99.75
  61 │    3.0     98.72
  62 │    1.21    99.78
  63 │    0.7    100.23
  64 │   -0.01   101.25
         49 rows omitted

In [18]:
df[1:7, [:PS]]

7×1 DataFrame
 Row │ PS
     │ Float64
─────┼─────────
   1 │  101.3
   2 │  100.14
   3 │   99.62
   4 │   99.43
   5 │  100.39
   6 │  101.49
   7 │  101.67

In [19]:
df[!, [:PS]]

64×1 DataFrame
 Row │ PS
     │ Float64
─────┼─────────
   1 │  101.3
   2 │  100.14
   3 │   99.62
   4 │   99.43
   5 │  100.39
   6 │  101.49
   7 │  101.67
   8 │  100.91
  ⋮  │    ⋮
  58 │  100.21
  59 │  100.32
  60 │   99.75
  61 │   98.72
  62 │   99.78
  63 │  100.23
  64 │  101.25
49 rows omitted

In [23]:
df[!, :PS]

64-element Vector{Float64}:
 101.3
 100.14
  99.62
  99.43
 100.39
 101.49
 101.67
 100.91
  99.18
  98.29
   ⋮
 100.22
 100.63
 100.21
 100.32
  99.75
  98.72
  99.78
 100.23
 101.25

In [21]:
df[:, :PS]

64-element Vector{Float64}:
 101.3
 100.14
  99.62
  99.43
 100.39
 101.49
 101.67
 100.91
  99.18
  98.29
   ⋮
 100.22
 100.63
 100.21
 100.32
  99.75
  98.72
  99.78
 100.23
 101.25

Używając `[:PS]` a nie `:PS` to dostajemy DataFrame a nie Vector

In [24]:
df[!, Not(:YEAR)]

64×6 DataFrame
 Row │ MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Float64  Float64  Float64  Float64
─────┼──────────────────────────────────────────────────────
   1 │     1      1     0.24     0.56   101.3          1.96
   2 │     1      2     1.43     1.48   100.14         5.6
   3 │     1      3     1.57     2.13    99.62         4.7
   4 │     1      4     0.53     0.43    99.43         2.32
   5 │     1      5    -1.42     0.23   100.39         2.07
   6 │     1      6    -7.95     0.01   101.49         3.92
   7 │     1      7    -9.57     0.61   101.67         3.67
   8 │     1      8    -2.99     2.54   100.91         6.33
  ⋮  │   ⋮      ⋮       ⋮        ⋮        ⋮          ⋮
  58 │     2     27     3.62     0.1    100.21         1.89
  59 │     2     28     2.81     0.16   100.32         2.53
  60 │     3      1     2.67     0.51    99.75         4.88
  61 │     3      2     3.0      2.81    98.72         4.3
  62 │     3      3     1.21     0.69    99.78         4.94
  63 │     3      4     0.7      3.99   100.23         7.95
  64 │     3      5    -0.01     0.83   101.25         1.83
                                             49 rows omitted

In [25]:
df[!, Between(:YEAR, :DY)]

64×3 DataFrame
 Row │ YEAR   MO     DY
     │ Int64  Int64  Int64
─────┼─────────────────────
   1 │  2015      1      1
   2 │  2015      1      2
   3 │  2015      1      3
   4 │  2015      1      4
   5 │  2015      1      5
   6 │  2015      1      6
   7 │  2015      1      7
   8 │  2015      1      8
  ⋮  │   ⋮      ⋮      ⋮
  58 │  2015      2     27
  59 │  2015      2     28
  60 │  2015      3      1
  61 │  2015      3      2
  62 │  2015      3      3
  63 │  2015      3      4
  64 │  2015      3      5
            49 rows omitted

In [26]:
df[!, Cols(x->startswith(x, "P"))]

64×2 DataFrame
 Row │ PRECTOT  PS
     │ Float64  Float64
─────┼──────────────────
   1 │    0.56   101.3
   2 │    1.48   100.14
   3 │    2.13    99.62
   4 │    0.43    99.43
   5 │    0.23   100.39
   6 │    0.01   101.49
   7 │    0.61   101.67
   8 │    2.54   100.91
  ⋮  │    ⋮        ⋮
  58 │    0.1    100.21
  59 │    0.16   100.32
  60 │    0.51    99.75
  61 │    2.81    98.72
  62 │    0.69    99.78
  63 │    3.99   100.23
  64 │    0.83   101.25
         49 rows omitted

Po danych

In [27]:
df[df.DY .== 1, :]

3×7 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────────────────────
   1 │  2015      1      1     0.24     0.56   101.3          1.96
   2 │  2015      2      1    -2.95     0.03    97.58         3.57
   3 │  2015      3      1     2.67     0.51    99.75         4.88

In [28]:
df[(df.T2M .< 0.0) .& (df.PS .> 100.0), :]

22×7 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────────────────────
   1 │  2015      1      5    -1.42     0.23   100.39         2.07
   2 │  2015      1      6    -7.95     0.01   101.49         3.92
   3 │  2015      1      7    -9.57     0.61   101.67         3.67
   4 │  2015      1      8    -2.99     2.54   100.91         6.33
   5 │  2015      1     19    -1.51     0.17   100.46         4.14
   6 │  2015      1     20    -0.41     1.01   100.18         3.44
   7 │  2015      1     23    -0.88     1.52   100.51         2.26
   8 │  2015      1     24    -2.4      1.62   100.5          2.27
  ⋮  │   ⋮      ⋮      ⋮       ⋮        ⋮        ⋮          ⋮
  16 │  2015      2     13    -1.0      0.06   100.96         1.21
  17 │  2015      2     14    -0.88     0.0    100.57         2.21
  18 │  2015      2     15    -1.97     0.05   101.0          4.69
  19 │  2015      2     16    -3.72     0.03   101.97         2.76
  20 │  2015      2     17    -5.49     0.0    102.3          4.92
  21 │  2015      2     18    -2.35     0.1    102.14         1.85
  22 │  2015      3      5    -0.01     0.83   101.25         1.83
                                                     7 rows omitted

In [29]:
subset(df, :DY => d -> d .< 10, :MO => m -> m .== 1)

9×7 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────────────────────
   1 │  2015      1      1     0.24     0.56   101.3          1.96
   2 │  2015      1      2     1.43     1.48   100.14         5.6
   3 │  2015      1      3     1.57     2.13    99.62         4.7
   4 │  2015      1      4     0.53     0.43    99.43         2.32
   5 │  2015      1      5    -1.42     0.23   100.39         2.07
   6 │  2015      1      6    -7.95     0.01   101.49         3.92
   7 │  2015      1      7    -9.57     0.61   101.67         3.67
   8 │  2015      1      8    -2.99     2.54   100.91         6.33
   9 │  2015      1      9     1.59    10.16    99.18         4.45

In [30]:
transform!(df, [:YEAR, :MO, :DY] => ((y, m, d) -> Date.(y, m, d)) => :Date)

64×8 DataFrame
 Row │ YEAR   MO     DY     T2M      PRECTOT  PS       WS10M_RANGE  Date       ⋯
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64      Date       ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  2015      1      1     0.24     0.56   101.3          1.96  2015-01-01 ⋯
   2 │  2015      1      2     1.43     1.48   100.14         5.6   2015-01-02
   3 │  2015      1      3     1.57     2.13    99.62         4.7   2015-01-03
   4 │  2015      1      4     0.53     0.43    99.43         2.32  2015-01-04
   5 │  2015      1      5    -1.42     0.23   100.39         2.07  2015-01-05 ⋯
   6 │  2015      1      6    -7.95     0.01   101.49         3.92  2015-01-06
   7 │  2015      1      7    -9.57     0.61   101.67         3.67  2015-01-07
   8 │  2015      1      8    -2.99     2.54   100.91         6.33  2015-01-08
  ⋮  │   ⋮      ⋮      ⋮       ⋮        ⋮        ⋮          ⋮           ⋮      ⋱
  58 │  2015      2     27     3.62     0.1    100.21         1.89  2015-02-27 ⋯
  59 │  2015      2     28     2.81     0.16   100.32         2.53  2015-02-28
  60 │  2015      3      1     2.67     0.51    99.75         4.88  2015-03-01
  61 │  2015      3      2     3.0      2.81    98.72         4.3   2015-03-02
  62 │  2015      3      3     1.21     0.69    99.78         4.94  2015-03-03 ⋯
  63 │  2015      3      4     0.7      3.99   100.23         7.95  2015-03-04
  64 │  2015      3      5    -0.01     0.83   101.25         1.83  2015-03-05
                                                                49 rows omitted

In [31]:
select!(df, Not([:YEAR, :MO, :DY]))

64×5 DataFrame
 Row │ T2M      PRECTOT  PS       WS10M_RANGE  Date
     │ Float64  Float64  Float64  Float64      Date
─────┼────────────────────────────────────────────────────
   1 │    0.24     0.56   101.3          1.96  2015-01-01
   2 │    1.43     1.48   100.14         5.6   2015-01-02
   3 │    1.57     2.13    99.62         4.7   2015-01-03
   4 │    0.53     0.43    99.43         2.32  2015-01-04
   5 │   -1.42     0.23   100.39         2.07  2015-01-05
   6 │   -7.95     0.01   101.49         3.92  2015-01-06
   7 │   -9.57     0.61   101.67         3.67  2015-01-07
   8 │   -2.99     2.54   100.91         6.33  2015-01-08
  ⋮  │    ⋮        ⋮        ⋮          ⋮           ⋮
  58 │    3.62     0.1    100.21         1.89  2015-02-27
  59 │    2.81     0.16   100.32         2.53  2015-02-28
  60 │    2.67     0.51    99.75         4.88  2015-03-01
  61 │    3.0      2.81    98.72         4.3   2015-03-02
  62 │    1.21     0.69    99.78         4.94  2015-03-03
  63 │    0.7      3.99   100.23         7.95  2015-03-04
  64 │   -0.01     0.83   101.25         1.83  2015-03-05
                                           49 rows omitted

In [32]:
using GRUtils

In [33]:
plot(Dates.value.(df.Date - Date(2015, 1, 1)), df.T2M)

GR.SVG(UInt8[0x3c, 0x3f, 0x78, 0x6d, 0x6c, 0x20, 0x76, 0x65, 0x72, 0x73  …  0x2f, 0x3e, 0x0a, 0x3c, 0x2f, 0x73, 0x76, 0x67, 0x3e, 0x0a])

Zadanie: Ściągnąć z Nasa power dane w .csv dla jakiegoś miejsca, spróbować przerobić daty i narysować wykres jakiś (np jakie jest ciśnienie vs temperatura, albo ciśnienie vs prędkość wiatru.)